<!-- flex  flex-wrap-->

<div class="flex flex-wrap gap-[15px] w-full Tablet:max-w-[400px] ">
    @for (itemBorder of borders; track $index) {
        @for (itemData of allData; track $index) {
            @if(itemBorder == itemData.alpha3Code) {
                <p routerLink="/country/{{itemData.name}}" (click)="refresh()" class="cursor-pointer MobileLM:py-[10px] MobileLM:px-[10px] MobileLM:text-xs Tablet:px-[15px] Tablet:text-sm text-wrap py-[7px] px-[30px] bg-third dark:bg-secondDark transition-colors rounded-md shadow-md">{{itemData.name}}</p>
            }
        }
    }
    @empty {
        <p class="py-[5px] px-[15px] bg-third dark:bg-secondDark transition-colors rounded-md shadow-md">no borders</p>
    }
</div>