<main class="w-screen px-[100px] py-[80px] max-md:px-[50px] max-[375px]:px-[25px]">
    
    <div class="w-full flex max-lg:gap-[30px] max-lg:flex-col max-lg:h-max lg:items-center h-[80px] justify-between">
        <app-input
            (eventEmitterInput)="receiveEmitterInput($event)"
        />

        <app-filter
            (eventEmitterFilter)="receiveEmitterFilter($event)"    
        />
    </div>

    <app-card
        [valueSearch]="valueSearchReceive"
        [valueFilter]="valueFilterReceive"
    />

</main>