<main class="w-screen px-[100px] py-[80px] Tablet:px-[50px] MobileL:px-[25px]">
    
    <div class="w-full flex laptop:gap-[30px] laptop:flex-col laptop:h-max lg:items-center h-[80px] justify-between">
        <app-input
            (eventEmitterInput)="receiveEmitterInput($event)"
        />

        <app-filter
            (eventEmitterFilter)="receiveEmitterFilter($event)"    
        />
    </div>

    <app-card
        [valueSearch]="valueSearchReceive"
        [valueFilter]="valueFilterReceive"
    />

</main>